@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;400;700;900&display=swap');500;700;900&display=swap');
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
h1,h2,h3,h4,h5,h6,p,ul,li,body,figure{margin:0;padding:0;}
ul,li{list-style:none;}
a{text-decoration:none;color:#4d4d4d;}
img{max-width:100%;height:auto;}
.disabled{cursor:no-drop !important;}
:focus{outline:-webkit-focus-ring-color auto 0px;outline:0;}
body{font-family:'Rubik', sans-serif;font-style:normal;font-weight:400;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:16px;color:#000000;background-color:#fff;}
.container{padding:0 15px;width:100%;margin:auto;position:relative;max-width:1220px;}
section,footer,header{float:left;width:100%;}
button,a{cursor:pointer;}
header .logo a{font-family:'Special Elite', cursive;font-size:80px;color:#fff;}
header .logo{display:inline-block;width:350px;vertical-align:middle;}
header .navigation{width:calc(100% - 350px);display:inline-block;text-align:right;vertical-align:middle;}
header{font-size:0;padding:20px 30px;position:absolute;z-index:999;}
header .navigation nav ul li{display:inline-block;font-size:0;}
header .navigation nav ul li a{font-size:20px;color:#fff;position:relative;}
header .navigation nav ul li:not(:last-child){padding-right:30px;}
section.banner_section{position:relative;font-size:0;}
.header.sticky{background:#fff;z-index:9999;position:fixed;-webkit-animation:fadeInDown 1s both;animation:fadeInDown 1s both;padding:10px 20px 5px;filter:drop-shadow(0 0 9px rgba(0,0,0,0.35));}
.header.sticky{z-index:9999999999;}
.header.sticky .logo a{font-size:45px;color:#000;}
.header.sticky nav ul li a{font-size:18px;color:#000;position:relative;}
header.sticky .navigation nav ul li{padding-bottom:0px;}
header nav ul li a::after{content:'';width:100%;height:0;border:0 solid transparent;border-top-color:transparent;border-top-width:0;border-top-color:transparent;border-top-width:0;border-top-color:#fff;display:block;transition:transform .2s ease-out,opacity .2s ease-out;opacity:0;margin-top:11px;transform:scaleX(0);border-top-width:2px;position:absolute;bottom:-16px;}
header nav ul li a:hover::after{transform:scaleX(1);opacity:1;}
header.sticky nav ul li a:hover::after{border-top-color:#000;}
@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-20px);transform:translateY(-20px) }
 100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0) }
}
@keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-20px);-ms-transform:translateY(-20px);transform:translateY(-20px) }
 100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0) }
}
button.owl-dot{background-color:#fff !important;height:5px;width:25px;margin:9px;}
.owl-dots{position:absolute;z-index:9999;bottom:9px;left:0;right:0;margin:auto;text-align:center;}
ul#banner{position:relative;}
.our_section{padding:60px 0;}
.our_section h1{text-align:center;text-transform:uppercase;font-family:'Merriweather', serif;font-size:35px;padding-bottom:45px;}
.our_section ul{float:left;width:100%;font-size:0;}
.our_section ul li{display:inline-block;width:33.33%;vertical-align:top;padding:15px;}
.our_section ul li .srv_img{display:table;table-layout:fixed;float:left;width:100%;background-color:#fff;}
.our_section ul li .srv_img figure{height:254px;display:table-cell;vertical-align:top;text-align:center;overflow:hidden;float:initial;}
.our_section ul li .srv_img figure img{max-height:100%;-webkit-transform:scale(1);transform:scale(1);-webkit-transition:.3s ease-in-out;transition:.3s ease-in-out;width:100%;object-fit:cover;font-size:0;}
.our_section ul li h2{font-weight:600;font-size:18px;position:absolute;bottom:0;width:100%;left:0;right:0;padding:0;}
.our_section ul li .srv_img figure span{height:244px;display:table-cell;vertical-align:top;text-align:center;overflow:hidden;float:initial;font-size:0;}
.our_section ul li a{position:relative;display:inline-block;width:100%;height:auto;}
.services{margin:0 -15px;}
.our_section ul li h2 span{width:100%;display:block;background-color:#0086d4;color:#fff;text-align:center;padding:13px 0;transition:all .5s;}
.our_section ul li a:hover .srv_img figure img{transform:scale(1.1);}
footer .logo a{font-family:'Special Elite', cursive;font-size:18px;color:#0b367b;padding:0 4px;}
.our_section ul li a:hover h2 span{background-color:#ffc107;}
.border-bottom span{position:relative;}
.border-bottom span:after{position:absolute;content:'';height:4px;width:76px;background-color:#4284cf;bottom:-14px;right:0;}
section.expertise_section{background-image:linear-gradient(to left, #0b367b 31%, #4284cf 59%);padding:80px 0 100px;}
section.expertise_section h3{text-align:center;text-transform:uppercase;font-family:'Merriweather', serif;font-size:35px;padding-bottom:60px;color:#fff;}
section.expertise_section h3.border-bottom span:after{background-color:#ffc107;}
section.expertise_section ul{float:left;width:100%;font-size:0;}
section.expertise_section ul li{display:inline-block;width:16.66%;text-align:center;padding:10px;vertical-align:top;}
section.expertise_section ul li a{height:160px !important;width:100% !important;background-color:#fff;object-fit:scale-down;border-radius:0 25px 25px;padding:10px;display:inline-block;}
section.expertise_section ul li a img{margin:auto;vertical-align:middle;height:100%;width:100%;object-fit:scale-down;padding:10px;-webkit-transform:scale(1);transform:scale(1);-webkit-transition:.3s ease-in-out;transition:.3s ease-in-out;}
.exp_sec{margin:0 -15px;}
section.expertise_section ul li:hover a img{transform:scale(1.1);}
section.about_section{padding:100px 0;}
section.about_section h4{text-align:center;text-transform:uppercase;font-family:'Merriweather', serif;font-size:35px;padding-bottom:45px;}
section.about_section .about-contand p{margin-bottom:22px;line-height:29px;}
section.contact_section h5{text-align:center;text-transform:uppercase;font-family:'Merriweather', serif;font-size:35px;padding-bottom:45px;color:#fff;}
section.contact_section{background-image:linear-gradient(to left, #0b367b 31%, #4284cf 59%);padding:80px 0 100px;}
section.about_section .about-contand a{font-size:20px;color:#4082cd;font-weight:600;transition:all .3s;}
.border-bottom.white-border span:after{left:0;background-color:#ffc107;}
section.about_section .about-contand a:hover{color:#ffc107;}
section.contact_section form{width:100%;margin:0 -15px;font-size:0;}
section.contact_section form .left-box,section.contact_section form .right-box{display:inline-block;width:50%;vertical-align:top;padding:15px 30px;}
section.contact_section form .form-group input,section.contact_section form .form-group select,section.contact_section form .form-group textarea{width:100%;padding:14px 0px;font-size:16px;border:0;border-bottom:2px solid #fff;background-color:transparent;box-shadow:none;outline:0;color:#fff;}
section.contact_section form .form-group input::placeholder, section.contact_section form .form-group select::placeholder, section.contact_section form .form-group textarea::placeholder{font-family:'Rubik', sans-serif;font-style:normal;font-weight:400;color:#fff;}
section.contact_section form .left-box .form-group, section.contact_section form .right-box .form-group{padding:5px 0;}
section.contact_section form .form-group textarea{height:224px;}
section.contact_section form .form-group textarea:focus,section.contact_section form .form-group input:focus,section.contact_section form .form-group select:focus{border-bottom:2px solid #ffc107;}
section.contact_section form button.btn.btn-primary.submit{margin:15px 30px 0;width:24%;height:49px;background-color:#ffc107;border:0;outline:0;box-shadow:none;font-size:20px;text-transform:uppercase;font-weight:600;letter-spacing:0.7px;color:#0b367b;}
footer{padding:30px 0 25px;text-align:center;}
footer .logo{font-size:16px;}
.mm-navbar.mm-navbar_has-btns{background-color:#0086d4;}
.mm-menu .mm-btn:after, .mm-menu .mm-btn:before{border-color:#fff;}
.responsive_nav{display:none;}
.header.sticky .responsive_nav .menu_icon svg{fill:#000;}
div#mm-0{background-color:#fff;}

@media (max-width:1220px){.container{max-width:100%;}
 .services,.exp_sec{margin:0 0px;}
 .our_section .container{max-width:1199px;}
 .our_section h1,section.expertise_section h3,section.about_section h4,section.contact_section h5{font-size:33px;}
 .our_section{padding:50px 0;}
 section.expertise_section h3{padding-bottom:50px !important;}
 header{padding:10px 0px;}
 .header.sticky{padding:10px 0px 5px;}
}
@media (max-width:1199px){.our_section h1,section.expertise_section h3,section.about_section h4,section.contact_section h5{font-size:32px;}
 .our_section .container{max-width:992px;}
 .our_section ul li .srv_img figure{height:210px;}
 section.expertise_section{padding:70px 0 90px;}
 section.expertise_section ul li a{height:130px;}
 section.about_section{padding:80px 0;}
 section.contact_section{padding:80px 0;}
 header .logo a{font-size:70px;}
}
@media (max-width:991px){.our_section .container{max-width:768px;}
 .our_section ul li{padding:7px;}
 .our_section ul li .srv_img figure{height:173px;}
 .our_section ul li h2{font-size:16px;}
 .our_section h1,section.expertise_section h3,section.about_section h4,section.contact_section h5{font-size:31px;}
 section.expertise_section{padding:60px 0 80px;}
 section.expertise_section ul li{width:20%;}
 section.expertise_section ul{text-align:center;}
 section.about_section{padding:70px 0;}
 section.about_section .about-contand p{margin-bottom:18px;line-height:28px;font-size:16px;}
 section.about_section .about-contand a{font-size:18px;}
 section.contact_section form .left-box, section.contact_section form .right-box{padding:7px 20px;}
 section.contact_section form button.btn.btn-primary.submit{margin:15px 20px 0;}
 section.contact_section{padding:70px 0;}
 header .logo a{font-size:60px;}
 .responsive_nav{display:inline-block;}
 header .navigation nav{display:none;}
 header .logo{width:90%;}
 header .navigation{width:calc(100% - 91%);}
}
@media (max-width:767px){.our_section .container{max-width:567px;}
 .our_section ul{text-align:center;}
 .our_section ul li{width:50%;padding:10px;}
 .our_section ul li .srv_img figure{height:162px;}
 .our_section h1,section.expertise_section h3,section.about_section h4,section.contact_section h5{font-size:30px;}
 .our_section{padding:45px 0;}
 section.expertise_section{padding:70px 0 85px;}
 section.expertise_section ul li{width:25%;}
 section.expertise_section ul li a{height:115px !important;}
 section.about_section{padding:60px 0;}
 section.contact_section form .left-box, section.contact_section form .right-box{width:100%;}
 section.contact_section form .form-group textarea{height:100px;}
 section.contact_section form{margin:0;}
 section.contact_section form .left-box, section.contact_section form .right-box{padding:7px 7px;}
 section.contact_section{padding:60px 0;}
 section.about_section h4, section.contact_section h5{text-align:left;padding-bottom:35px;}
 section.contact_section form button.btn.btn-primary.submit{margin:15px 7px 0;}
 footer{padding:20px 0 20px;}
 header{position:relative;}
 header .logo a,header .navigation nav ul li a{color:#000;}
 header .logo a{font-size:45px;}
 .header .responsive_nav .menu_icon svg{fill:#000;}
}
@media (max-width:567px){.our_section .container{max-width:479px;}
 .our_section ul li .srv_img figure{height:158px;}
 section.expertise_section{padding:60px 0 80px;}
 section.expertise_section ul li{width:33.33%;}
 section.expertise_section ul li a{padding:0;}
 section.expertise_section ul li{padding:7px;}
 section.about_section{padding:50px 0;}
 section.about_section .about-contand p{margin-bottom:15px;line-height:26px;font-size:15px;}
 section.contact_section{padding:50px 0;}
 section.contact_section h5{padding-bottom:30px;}
 section.contact_section form button.btn.btn-primary.submit{width:160px;}
 footer{padding:15px 0 15px;}
}
@media (max-width:479px){.our_section .container{max-width:100%;}
 .our_section ul li{width:100%;}
 .our_section ul li .srv_img figure{height:auto;}
 .our_section ul li{padding:10px 0;}
 .our_section h1,section.expertise_section h3,section.about_section h4,section.contact_section h5{font-size:26px;padding-bottom:38px;}
 .our_section{padding:40px 0;}
 section.expertise_section{padding:50px 0 60px;}
 section.expertise_section ul li a{height:95px !important;}
 section.expertise_section ul li a img{padding:5px;}
 section.about_section{padding:40px 0;}
 footer .logo{font-size:15px;}
.border-bottom span:after{bottom:-10px;}
}